body {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    /* Full viewport height */
    margin: 0;
    /* Remove default margin */
    background-color: #000;
    color: #fff;
    width: 200px;
    user-select: none;
}

button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777;
}

p {
    font-size: 17px;
}